.landing-slider-gallery {
    overflow: hidden;
}

.landing-slider-gallery > * {
    transition: none;
}

.landing-slider-item {
    float: left;
    position: relative;
}

.slide {
    float: left;
    position: relative;
}

img.landing-slider-image {
    filter: grayscale(1);
    transition: none;
}

.landing-slider-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    width: 100%;
    padding: 1em 0;
    background-color: #000000;
    opacity: 0.8;
    color: #FFFFFF;
}