.landing-slider-gallery {
    overflow: hidden;
}

.landing-slider-gallery > * {
    transition: none;
}

.landing-slider-item {
    float: left;
    position: relative;
}

.slide {
    float: left;
    position: relative;
}

img.landing-slider-image {
    filter: grayscale(1);
    transition: none;
}

.landing-slider-text-content {
    display: grid;
    gap: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    width: 100%;
    padding: 1em 0;
    background-color: #000000;
    opacity: 0.8;
    color: #FFFFFF;
}

.landing-slider-text-content > .landing-slider-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.landing-slider-button {
    width: 120px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-transform: capitalize;
    padding-right: 0;
    padding-left: 0;
}