<div class="newsletter-wrapper">
    <h5>Newsletter</h5>
    <form>
        {# This will be converted from a plain old HTML Form to a Webform #}
        <input type="text" placeholder="Subscribe to us..." />
    </form>
</div>