<div class="social-medias">
    <h4 class="heading-2">Social Links</h4>
    <div class="social-media-items d-flex-center">
        {% for content in contents %}
        <div class="social-media-item">
            <div class="social-media-title">
                <div><a href={{ 'https://' ~ content.link }}>{{ content.title }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>