<div class="social-medias">
    <h5>Social Links</h5>
    <div class="social-media-items d-flex-center">
        {% for content in contents %}
        <div class="social-media-item">
            <a href={{ 'https://' ~ content.link }}>
                <i class="fab fa-{{ content.title|lower }}"></i>
            </a>
        </div>
        {% endfor %}
    </div>
</div>