<section id="social-media-links">
    <div class="wrapper">
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>LinkedIn</li>
        </ul>
    </div>
</section>