<div class="landing-slider-wrapper">
    <div id="gallery" class="landing-slider-gallery">
        <div class="slides landing-slider-items">
            {% for slider_content in slider_contents %}
            <div class="slide">
                <img class="landing-slider-image" src={{ file_url(slider_content.image) }} alt="" width="1800px" height="400px" />
                <div class="landing-slider-text-content text-align-center">
                    <div class="landing-slider-title">{{ slider_content.title }}</div>
                    <div class="landing-slider-description">{{ slider_content.description }}</div>
                    <button class="landing-slider-button d-grid d-grid-center" >Learn More</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>