<div class="landing-bottom-wrapper d-flex-center flex-column">
    <h3>Content Types</h3>
    <div class="landing-bottom-main">
        {% for content_type in content_types %}
            <button>{{ content_type }}</button>
        {% endfor %}
    </div>
</div>