<div class="landing-content">
    <div class="landing-heading-wrapper">
        <h4>{{ content['heading'] }}</h4>
    </div>
    <h6>{{ content['title'] }}</h6>
    <div class="landing-content-body-text">
        {{ content['content']['value']|raw }}
    </div>
</div>