<section id="footer-copyright">
    <div class="wrapper footer-copyright-wrapper">
        <div class="content">
            <div>Copyright© 2019</div>
            <small>A project by a zombie.</small>
        </div>
    </div>
</section>