<!-- Includes -->
{# Removing this for now #}
{# {% include "@blissy/includes/partial.html.twig" %} #}

<!-- Trying out attributes in twig templates -->
{% set _classes =  ['red', 'green', 'blue'] %}
{% set _attributes_id = 'specific-id' %}
{% set _attributes_class = 'specific-class' %}

{#  Trying out merge filter of Twig templates.
    To enable and see the changes in action, enable the code {{ dump(items) }}.
 #}
{% set items = { 'apple': 'fruit', 'orange': 'fruit', 'peugeot': 'unknown' } %}
{% set items = { 'peugeot': 'car', 'renault': 'car' }|merge(items) %}

<section id="footer-copyright">
    <div class="wrapper footer-copyright-wrapper">
        <div class="content copyright-sm-nl">
            <div class="footer-copyright-socialmedia">
                Social Media Links
            </div>
            <div class="footer-copyright-newsletter">
                Newsletter
            </div>
        </div>
        <div class="content copyright-text">
            <div class="footer-copyright-content">
                <img
                    id="copyright-image-author"
                    src="themes/custom/blissy/images/gorillaz-2d.png"
                    alt="zombie-image"
                    height="145px"
                    width="145px"
                >
                <div class="footer-copyright-text-content">
                    <div>Copyright© 2019</div>
                    <small{{ attributes
                                .setAttribute('class', _attributes_class)
                                .addClass(_classes)
                                .removeClass('green')
                                .setAttribute('id', _attributes_id)
                            }}>
                        A project by a zombie.
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>