<section id="twigex">
    <div class="wrapper">
        <h4 class="d-grid d-grid-center">Twig Example</h4>
        <div class="content-wrapper">
            <p>Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.
            Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.</p>
        </div>

        <h6>Test Variables</h6>
        <div>{{ content }}</div>

        <div class="content-wrapper">
            <p>Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.
            Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.</p>
        </div>
    </div>
</section>